*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: azure;
  overflow: hidden;
}
  
.heading {
  background-color: #667618;
  margin-bottom: 20px;
  padding: 5px 0px 5px 15px;
}

.park {
  width: auto;
  background-color: #667618;
  color: white; 
  font-size: medium;
  border-radius: 5px; 
  margin-bottom: 15px;
  padding: 5px;
  text-align: center;
}
.park-name{
  width: auto;
  background-color: #667618;
  padding: 5px;  
  color: white; 
  font-size: medium;
}

#location {
  background-color: #667618;
  color: #3e8fde;
  padding: 5px;
}

.content {
  color: #3e8fde;
}

#subtitle {
  color: white;
  margin-left: 30px;
}

#showing {
  margin-left: 20px;
}

#parks li::before {
  content: "";
}


#image, #image2{
  margin-bottom: 5px;
  width: 100%;
  height: fit-content;
}

#park-info {
  padding-bottom: 15px;
}
.buttons {
  border-style: none;
  border-radius: 8px;
  padding: 8px 20px;
  margin: 15px 0 5px 0;
  background-color: rgb(102, 118, 24, 0.7);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}
.extra{
  display: flex;
  flex-direction: row;
}
.footer{
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgb(102, 118, 24, 0.7);
  text-align: center;
}
.footer p {
  padding-top: 20px;
}
